.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* user defined past here */

/* DIV expectation */
/* 
[----------HEADER-------------------------------]
[SIDEBAR][Content <including sub items>         ]
[       ][______________________________________]
[       ][Category][Category][Category][Category]
[       ][List    ][List    ][List    ][List    ]
[       ][                                      ]
[       ][                                      ]
[       ][                                      ]
[       ][                                      ]
[       ][                                      ]
[       ][                                      ]
[       ][                                      ]
[       ][                                      ]
[       ][                                      ]
[       ][                                      ]
*/

div {
  text-indent: 10px;
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, hr {
  margin: 0;
}

body > #root {
  background-color: lightgray;
  height: 100%;
  min-height: 100vh;
}
.app {
  height: 100%;
  min-height: 100vh;
}

.header {
  background-color: #AA9281;
  color: #623616;
  height: 60px;
  line-height: 60px;
  font-family: work sans;
}
.sidebar {
  background-color: powderblue;
  width: 25%;
  position: relative;
  top: -29px;
  /* todo: make this dynamic */
  /*min-width: 200px*/
  display: inline-block;
  height: calc(100vh - 89px);
  /* todo: let this stretch to fill or even match longer elements*/
}
.main {
  /*background-color: pink;*/
  display: inline-block;
  height: calc(100vh - 60px);
  /* todo: make this fill or expand to match children*/
  width: 100%;
  min-width: 620px;
  /* todo: make this fill */
}

.jobsColumnsBox {
  background-color: lightgray;
  display: flex;
  align-items: flex-start;
}
.jobsColumn {
  display: inline-block;
  width: calc(20% - 8px);
  margin: 3px;
  min-height: 50vh
}
.effortLog {
  font-size: 12px; 
}
.job {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/12/14/29/sticky-note-148284_1280.png");
  background-size: 100% 100%;
  aspect-ratio: 4/3;
  margin: 5px;
  overflow: hidden;
  position: relative;
}
.job > p {
  text-indent: 10px;
  margin: 0;
  padding: 0;
}
.jobCorner {
  background-color: pink;
  float: right;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 25%;
}


/* popup details */

.detailsShading {
  background-color: rgba(0.6,0.6,0.6,0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index:10000;
}
.jobDetails {
  background-color: #feff9c;
  position: fixed;
  width: 80vw;
  height: 70vh;
  left: 10vw;
  top: 15vh;
  z-index:10000;
}
.jobDetails > footer {
  position: absolute;
  bottom: 3px;
}
.jobDetails > footer > .one {
  text-align: left;
}
.jobDetails > footer > .two {
  text-align: right;
}
.jobDetails > footer > .three {
  display: flex;
  justify-content: space-between;
}
.jobDetails > textarea {
  width: 98%;
  margin: 1%;
  height: calc(100% - 200pt);
  resize: none;
  background-color: lightyellow;
}
.divArea {
  width: 98%;
  margin: 1%;
  height: calc(100% - 200pt);
  background-color: lightyellow;
  overflow: scroll;
}

/* images */
/*
sticky note
"https://cdn.pixabay.com/photo/2013/07/12/14/29/sticky-note-148284_1280.png"
chungus
"https://i.imgur.com/euLdMxk.png"
*/